<h2>Здесь можно записаться.</h2>

<form action="/visit" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input type="text" name="client[name]" class="form-control" id="exampleInputEmail1" placeholder="Введите ваше имя" value="">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ваш телефон</label>
    <input type="text" name="client[phone]" class="form-control aaa" id="exampleInputEmail1" placeholder="Введите ваш телефон" value="">
  </div>
  <div class="form-group">
    <label>Когда вас ждать</label>
    <input type="text" name="client[datestamp]" class="form-control" id="datetimepicker" placeholder="Введите дату и время" value="">
  </div>

  </div>
  <div class="form-group">
    <label>Выберите цват:</label>
 		<select id="color" name="client[color]">
		<option value="#7bd148">Green</option>
		<option value="#5484ed">Bold blue</option>
		<option value="#a4bdfc">Blue</option>
		<option value="#46d6db">Turquoise</option>
		<option value="#7ae7bf">Light green</option>
		<option value="#51b749">Bold green</option>
		<option value="#fbd75b">Yellow</option>
		<option value="#ffb878">Orange</option>
		<option value="#ff887c">Red</option>
		<option value="#dc2127">Bold red</option>
		<option value="#dbadff">Purple</option>
		<option value="#e1e1e1">Gray</option>
		</select>
  </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>

<script type="text/javascript">
$(function(){

	$('.aaa').css('background-color', 'yellow');
  $('#datetimepicker').datetimepicker();
  $('#color').simplecolorpicker();
});
</script>
